/* Put your CSS here */
.ember-application {
    margin: 20px;
}
.panel-heading input{
    padding:0 3px;
    margin: 0 5px;
    width: 120px;
}
.panel-heading {
    font-size: 16px;
    color: #31708f !important;
}

.stopwatch-panel {
    /*height: 250px;*/
}

.stopwatch-buttons button {
    width: 30%;
    margin: 0 0 5px 0;
}

.stopwatch-buttons {
    text-align: center;
}

.stopwatch-time {
    font-size: 28px;
    text-align: center;
    width: 100% !important;
    margin: 3px 0;
    color: white;
}

.stopwatch-laptimes {
    width:100px;
    padding-right: 5px;
    overflow: auto;
    height: 200px;
    color: #31708f
}

.stopwatch-lapbutton button{
    width: 100%;
    height: 120px;
    font-size: 40px;
}

.lapList {
    list-style-type: none;
    padding-left: 5px;
}

.lapList li:nth-of-type(1) {
    color: darkred;
    font-weight: 800;
}