<h1>Übersicht</h1>
{{input type='text' value=filtersn}}
<ul>
    {{#each filteredContent}}
        <li>
            {{startnummer}}: {{laptime}}
            <button {{action "delete" this}}>Löschen</button>
        </button>
        </li>
    {{/each}}
</ul>
</div>

</div>